[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
User=nexus
Group=nexus 
Environment="JAVA_OPTS=-Xms1024m -Xmx1024g -XX:MaxDirectMemorySize=1024m"
ExecStart=/opt/nexus-latest/bin/nexus start
ExecStop=/opt/nexus-latest/bin/nexus stop
User=nexus
Restart=on-abort

[Install]
WantedBy=multi-user.target