#jinja2:lstrip_blocks: True
credentials:
  system:
    domainCredentials:
      - credentials:
{% for userpass in usernamePassword %}
        - usernamePassword:
            id: "{{ userpass.id }}"
            password: "{{ userpass.password }}"
            scope: GLOBAL
            username: "{{ userpass.username }}"
{% endfor %}
