#!groovy
import jenkins.model.Jenkins
import hudson.slaves.EnvironmentVariablesNodeProperty

def envVars = [
  {% for variable in envVariables %}
    "{{ variable.key }}": "{{ variable.value }}"{% if not loop.last %},{% endif %}
  {% endfor %}
]

def nodeProperty = new EnvironmentVariablesNodeProperty()
def envVarsMap = nodeProperty.getEnvVars()
envVars.each { key, value ->
    envVarsMap.put(key, value)
}

def existingProperties = Jenkins.instance.getGlobalNodeProperties()
existingProperties.add(nodeProperty)
Jenkins.instance.save()