#jinja2:lstrip_blocks: True
credentials:
  system:
    domainCredentials:
      - credentials:
{% for sshkey in basicSSHUserPrivateKey %}
        - basicSSHUserPrivateKey:
            id: "{{ sshkey.id }}"
            privateKeySource:
              directEntry:
                privateKey: |
                  {{ lookup('file', sshkey.rsa_key ) | indent(18) }}
            scope: GLOBAL
            username: "{{ sshkey.username }}"
{% endfor %}
{% for userpass in usernamePassword %}
        - usernamePassword:
            id: "{{ userpass.id }}"
            password: "{{ userpass.password }}"
            scope: GLOBAL
            username: "{{ userpass.username }}"
{% endfor %}
