groovy: >
  - script: >
    import jenkins.model.Jenkins
    import hudson.slaves.EnvironmentVariablesNodeProperty
    import groovy.yaml.YamlSlurper

    def envVarsFile = new File('../templates/pipeline-variables.yml') 
    def envVarsMap = new YamlSlurper().parse(envVarsFile.text)

    def nodeProperty = new EnvironmentVariablesNodeProperty()
    def envVarsNode = nodeProperty.getEnvVars()
    envVarsMap.each { key, value ->
        envVarsNode.put(key, value)
    }

    def existingProperties = Jenkins.instance.getGlobalNodeProperties()
    existingProperties.add(nodeProperty)
    Jenkins.instance.save()
