sonar.jdbc.username=your_database_username
sonar.jdbc.password=your_database_password
sonar.jdbc.url=jdbc:postgresql://localhost:5432/sonarqube
sonar.web.host=0.0.0.0
sonar.web.port=9000
sonar.path.data=/var/sonarqube/data
