sonar.jdbc.username=sonarqube_user
sonar.jdbc.password=sonarqube_bd_pwd
sonar.jdbc.url=jdbc:mariadb://localhost:3306/sonarqube
sonar.web.host=0.0.0.0
sonar.web.port=9000
sonar.path.data=/var/sonarqube/data
